[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "eigen-git-mirror"]
	path = eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "uWebSockets"]
	path = uWebSockets
	url = https://github.com/uNetworking/uWebSockets
